$lightest-gray: #f0f0f0;
$light-gray: #D3D3D1;
$gray: #BEBEBF;
$dark-gray: #919293;
$darkest-gray: #454B54;
$berry: #BAA0B5;
$leaf: #ACD168;
$moss: #8CAA57;

// https://color.adobe.com/create/color-accessibility
