.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

### React ###
src/main/resources/static/bundle.js
src/main/resources/static/bundle.js.LICENSE.txt
node_modules/
yarn-*.log
yarn.lock

### RSpec ###
src/test/integration/.bundle
src/test/integration/vendor
src/test/integration/Gemfile.lock

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

