.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

### React ###
node_modules/
yarn-*.log
yarn.lock
bundle.js*

### RSpec ###
src/test/integration/.bundle
src/test/integration/vendor
src/test/integration/Gemfile.lock

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

